#
# SSH Client config file
#

# GIT Server Infrastructure code
Host {{infra_git_server_address}}
  Hostname {{infra_git_server_address}}
  Port {{infra_git_server_port}}
  User {{infra_git_server_user}}
  IdentityFile /root/.ssh/id-{{marca}}-ansible.rsa
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  LogLevel error
